<!DOCTYPE html>
<html>
  <head>
    <Title>Abdulmoshen Alowayed</Title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/velocity.js"></script>
    <script type="text/javascript" src="javascripts/konami.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </head>

  <body>
    <img id="half_face" src="photos/half_face.jpg">
    <div id="window">
      <div id="block_about_me">
        <p>
          My name is <abbr title="But some people call me Mohsen">Abdulmohsen</abbr>. I am an MIT student, an engineer, maker, designer, experimentalist, and traveler.
        </p>
        <img id="side_pic" src="photos/grinder.png">
      </div>
      <iframe id ="block_projects" src="projects.html"></iframe>
      <div id="block_cat">
        <img id="cat_pic" src="photos/cat.jpg">
      </div>
      <a id="button_back" class="button" href="#">
        <img src="buttons/button_back.png">
      </a>
      <img id="nyan_cat" src="photos/nyan_cat.png">
    </div>
    <div id="block_home">
      <a id="button_about_me" class="button" href="#about_me">
        <img src="buttons/button_about_me.png">
      </a>
      <a id="button_projects" class="button" href="#projects">
        <img src="buttons/button_projects.png">
      </a>
      <a id="button_resume" class="button" href="resume">
        <img src="buttons/button_resume.png">
      </a>
      <a id="button_cat" class="button" href="#cat">
        <img src="buttons/button_cat.png">
      </a>
    </div>
  </body>
</html>